<?xml version="1.0"?>
<launch>

  <!--arg name="razor_SEN"        default="10736"/-->
  <!--arg name="razor_SEN"        default="14001"/-->   
  <!--arg name="razor_config_file" default="$(find robot_sensors)/config/razor_imu/my_razor_SEN_$(arg razor_SEN).yaml"/-->
  <!--arg name="razor_config_file" default="$(find robot_sensors)/config/razor_imu/my_razor_SEN_14001.yaml"/-->
    <!--node pkg="tf2_ros" type="static_transform_publisher" name="bl_imu" args="0 0 0 0 0 0 base_link base_imu_link" /-->

  <node pkg="bno055_usb_stick" type="bno055_usb_stick_node" name="bno055_usb_stick_node" output="screen">
      <remap from="/imu" to="/imu/data"/>

      <!--param name="publish_tf" value="false" /-->
      <param name="publish_tf" value="true"   />
      <param name="frame_id"  type="string"  value="imu_link"  />
      <param name="port" type="string" value="/dev/ttyACM0" />





      <!--rosparam file="$(arg razor_config_file)" command="load"/-->
  </node>

  <!--node pkg="razor_imu_9dof" type="display_3D_visualization.py" name="display_3D_visualization_node" output="screen">
  </node-->

</launch>

